* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: auto;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.5rem;
  }
}

h1 {
  text-align: center;
  width: 100%;
  padding-top: 30px;
}

div.text-container {
  margin-bottom: 10px;
}

span.title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

img.snapshot {
  width: 50%;
  border-radius: 20px;
  box-shadow: 1px 1px 3px var(--dark-blue);
}

a {
  text-decoration: none;
}

.container {
  width: 25vw;
  min-width: 300px;
  max-width: 500px;
  height: fit-content;
  background-color: aliceblue;
  border-radius: 50px;
  text-align: center;
  transition: 0.3s;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container:hover {
  transform: scale(1.05);
}

section#social-media {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 20px;
}
