* {
  box-sizing: border-box;
}

html {
  font-family: Roboto-mono, monospace;
  line-height: 1.5;
  color: #012b55;
  font-size: 18px;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:root{
   --dark-blue: #012b55;
   --light-blue: aliceblue;
}

html,
body {
  margin: 0;
  padding: 0;
}

@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 14px;
  }
}

h1 {
  font-size: 2rem;
}

a {
  color: #012b55;
}

a:hover {
  color: black;
}